Django 
django-heroku
pyjwt
python-dateutil
psycopg2-binary
gunicorn
celery
djangorestframework
requests
django_heroku
redis
social-auth-app-django~=3.1
python-jose~=3.0
python-dotenv~=0.9